BETTER_AUTH_SECRET=a random string
DATABASE_URL=obtained from neondb
ZENBLOG_BLOG_ID=obtained from zenblog  
BASE_URL=http://localhost:3000  # copy this line as is for local development
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app